html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}
/* general styles for section services,
contact and footer */

#services, #contact, footer {
  font-family: 'Montserrat', sans-serif; 
}

.section-container {
  margin: 0 auto;
  max-width: 940px;
  width: 100%;
  text-align: center;
}

.section-title {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  padding: 120px 0 20px 0;
}

.section-slogan {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 100;
  font-style: italic;
  margin: 0;
  padding: 0 0 80px 0;
}
/* ends of general styles */
/* navs section */

.navs {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  padding-bottom: 20%;
}

.navs-item {
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid black;
  margin: 0 5px;
}

.navs-item a {
  font-size: 11px;
  color: black;
  text-decoration: none;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  padding: 30%;
}

.navs-item a:hover {
  text-decoration: none;
}

.navs-item:hover {
  cursor: pointer;
  background: yellow;
}

/* end of navs section */

/* team section */

#team-section {
  text-align: center;
}

#team-section img {
  border-radius: 50%;
  width: 50%;
  height: auto;
  border: 1.5px solid black;
}

#team-section h1 {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#team-section .h1-text {
    padding-bottom: 5%;
    font-size: 13px;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#team-section h3 {
    padding-top: 10%;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    margin: 0;
}

#team-section p {
    font-size: 13px;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* end of team section */

.row p {
    margin: 0 auto;
}

/* sponsors section */

.sponsors-bg img {
    height: 50px;
    margin: 0 20px;
}

.sponsors-bg {
    padding-top: 10%;
    display: inline-block;
    text-align: center;
    margin: 0;
    height: 100%;
    width: 100vw;
}

/* end of sponsors section */

/* portfolio  section */
#our-portfolio
{
  text-align: center;
  align-content: center;
  margin-left: 15%;
}
#our-portfolio header h1
{
  font-weight: 700px;
  text-align: justify;
}
#our-portfolio header p
{
  color: lightslategray;
  font-style: italic;
}

#our-portfolio .container
{
  width: 100%;
  margin:10px;
  padding: 20px;
  align-content: center;
  display: grid;
  grid-template-columns: 1fr  300px  1fr ;
  grid-template-rows: 150px 150px 150px;
  grid-row-gap: 65px;
  grid-template-areas:
    "header header   header"
    "item1  item2   item3"
    "item1  item2   item3"
    "item1d item2d  item3d"
    "item4  item5   item6"
    "item4  item5   item6"
    "item4d item5d  item6d"
    "footer     footer    footer";
    justify-items: center;
    align-items: center;
    
    grid-auto-flow: dense;
}
#our-portfolio .footer 
{
  grid-area: footer;
}
#our-portfolio .header 
{
  grid-area: header;
}
#our-portfolio .item1 
{
  grid-area: item1;
  z-index: 2;

}
#our-portfolio .item1d 
{
  grid-area: item1d;
}
#our-portfolio .item2 
{
  grid-area: item2;
}
#our-portfolio .item2d 
{
  grid-area: item2d;

}
#our-portfolio .item3 
{
  grid-area: item3;
  z-index: 1;
}
#our-portfolio .item3d
{
  grid-area: item3d;

}
#our-portfolio .item4 
{
  grid-area: item4;
   z-index: 2;

}
#our-portfolio .item4d 
{
  grid-area: item4d;

}
#our-portfolio .item5 
{
  grid-area: item5;

}
#our-portfolio .item5d 
{
  grid-area: item5d;
}
#our-portfolio .item6 
{
  grid-area: item6;
}
#our-portfolio .item6d
{
  grid-area: item6d;

}
/*responsivity*/
@media (max-width: 1500px ) 
{
  #our-portfolio .container 
  {
    margin-left: 100px;
    justify-items: center;
    align-content: center;
    grid-template-areas:
      "header header"
      "item1  item2"
      "item1  item2"
      "item1d item2d"
      "item3  item4"
      "item3  item4"
      "item3d item4d"
      "item5  item6"
      "item5  item6"
      "item5d item6d"
      ;
  }
}
@media (max-width: 900px) 
{
  #our-portfolio .container 
  {
    margin-left: 100px;
    justify-items: center;
    align-content: center;
    grid-template-areas:
      "header header"
      "item1  item1"
      "item1  item1"
      "item1d item1d"
      "item2  item2"
      "item2  item2"
      "item2d item2d"
      "item3  item3"
      "item3  item3"
      "item3d item3d"
      "item4  item4"
      "item4  item4"
      "item4d item4d"
      "item5  item5"
      "item5  item5"
      "item5d item5d"
      "item6  item6"
      "item6  item6"
      "item6d item6d"
      ;
  }
}
/* end of portfolio section */

/* ABOUT US STYLE*/
.about_us{
  padding:0 10%;
}
.about_us h2, .about_us h3, .about_us h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
} 
.about_us header{
  text-align: center;
  padding: 40px 0;
}
.about_us h2{
  font-size: 40px;
  margin: 0;
}
.about_us header p{
  font-size: 16px;
  margin: 0;
  font-style: italic;
}
.about_box{
  display: grid;
  grid-template-columns: 40% 20%;
  position: relative;
  text-align: right;
  align-items: center;
}
.about_us_text{
  line-height: 1.7em;
}
.about_us_text h3, .about_us_text h4{
  margin: 0;
  padding:0;
}
.about_us_text p{
  
  font-family: 'Roboto Slab', serif;
}
.about_box_img{
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.about_box_img img{
  margin: 20px;
  border-radius: 50%;
  width:180px;
  height: 180px;
  border:7px solid lightgrey;

}
article .about_box:first-of-type > .about_box_img:before{
  top:15%;
}
article .about_box:last-of-type > .about_box_img:before{
  bottom: 15%;
}
article .about_box:last-of-type > .about_box_img{
  bottom: 15%;
}
.about_box:nth-child(even){
      direction: rtl;
      text-align: left; 
}
.about_box_img:before{
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 100%;
  border: 2px solid lightgrey;
  z-index: -1;

}

/* services section */

#services {
  background-color: #fff;
}

.services-columns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;
  flex: 0 1 auto;
  margin: 0 0 120px 0;
}

.services-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 0 1 auto;
  width: 28%;
  margin: 0 35px 0 0;
}

.services-col:last-child {
  margin-right: 0;
}

.services-icon {
  width: 70px;
  height: 70px;
  padding: 0;
  margin: 0 0 33px 0;
  border: 2px solid #fed136;
  border-radius: 50%;
}

.services-icon img {
  height: 36px;
  margin: 17px 0;
  padding: 0;
}

.services-icon:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #222;
}

.services-col h5 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 0 0 18px 0;
}

.services-col p {
  padding: 0 5px;
  margin: 0;
  font-size: 12px;
  font-weight: 300;
  font-family: 'Roboto Slab', serif;
}
/* ends of section services */
/* contact section */

#contact {
  background-color: #222;
  position: relative;
}

#map {
  position: absolute;
  right: -15px;
  top: 155px;
  z-index: 2;
  transform: scale(0.95);
  padding: 0;
  margin: 0;
}


#contact .section-title, #contact .section-slogan {
  color: #fff;
}

.form-container {
  margin: 0;
}

.form-container form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

 .form-column, .form-container textarea  {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.form-container textarea, .form-column input {
  font-size: 14px;
  font-weight: 700;
  border-radius: 3px;
  margin: 10px;
  border: 1px solid #fff;
}

.form-column input {
  height: 48px;
}

.form-container textarea::placeholder, .form-column input::placeholder {
  color: rgba(34, 34, 34, 0.4);
  padding: 0 0 0 15px;
}

.form-container textarea::placeholder {
  padding-top: 10px;
}

.form-container button {
  width: 240px;
  height: 60px;
  background-color: #fed136;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border-radius: 3px;
  border: 1px solid #fed136;
  margin: 30px 0 120px 0;
}

.form-container button:hover {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  color: #fed136;
  background-color: #222;
}

/* ends of contact section */
/* footer */

footer {
  background-color: #fff;
}

footer .section-container {
  margin: 20px auto 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
footer p {
  font-size: 14px;
  font-weight: 400; 
  padding: 15px 0 0 0;
}

.media-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 0 100px;
}

.media-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #222;
  background-color: #222;
  margin: 0 5px;
}

.media-item a {
  color: #fff;
  margin: 10px 0;
  font-size: 20px;
}

.media-item a:hover {
  transition: color 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  color: #fed136;
}

/* ends of footer */



/*   MEDIA QUERIES   */
        @media (max-width: 767px) {
          .section-title {
            padding-top: 40px;
          }
          .section-slogan {
            padding-bottom: 40px;
          }
          .services-columns {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 0 30px 0;
          }
          .services-col {
            margin: 20px 0;
            width: 60%;
          }
          .services-icon:hover {
            display: none;
          }
          .form-container form {
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          .form-column, .form-container textarea  {
            width: 80%;
          }
          .form-container textarea, .form-column input {
            margin: 10px 0;
          }
          .form-container button {
            width: 200px;
            height: 40px;
            margin-bottom: 50px;
          }
          .form-container button:hover {
            display: none;
          }
          #map {
            right: -15px;
            top: 50px;
            z-index: 2;
          }
          footer .section-container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          .media-container {
            margin: 20px 0;
          }
          .media-item a:hover{
            display: none;
          }
        }

  /*   MD  - abour us */ 
        @media (max-width: 1250px) {
            .about_us{
              padding: 0;
            }
            .about_box{
              justify-content: center;
              grid-template-columns: 50% 50%;
            }
            .about_box_img:before{
              content: none;
            }
        }
  /*   SM  - abour us */       
        @media (max-width: 600px) {
           .about_box{
              grid-template-columns: 1fr;
            }
            .about_us_text{
              text-align: center;
            }

